// import styled from 'styled-components';

// export const RepositoryBoxWrapper = styled.div`
// display: flex;
// flex-direction: column;
// width: 100%;
// align-items: center;
// `;

// export const H2Wrapper = styled.h2`
//   text-align: center;
// `;

// export const ItemBox = styled.ul`
// display: flex;
// flex-direction: column;
// gap: 30px;
// padding: 0;
// margin: 30px 0 0 0;
// `;

// export const Error = styled.strong`
//   text-align: center;
// `;

// export const HrWrapper = styled.hr`
//   border: 1px solid;
//   width: 100%;
// `;

.Container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.Container__Title {
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	padding: 16px;
	border-bottom: solid 2px skyblue;
	margin: 8px 8px;
}

.Container__favoriteRepositories {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 0;
	margin: 24px 0 0 0;
}

.Error {
	text-align: center;
}
